:global article {
  .demo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .sir-icon {
      width: 2em;
      height: 2em;
      margin: 8px;
    }
  }
  section{
    margin-bottom: 32px;
  }
  h2{
    font-size: 2em;
  }
  .red{
    fill: red;
  }
}

